

.bgWrap {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
}
.bg {
  position: fixed;
  height: 100vh;
  width: 100vw;
  
}
.bgText {
  margin: 0;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  padding-top: 40vh;
  text-shadow: 1px 1px 1px #3c5c5e;
}
.summer{
  
  
  
  position: absolute;
  width: 396px;
  height: 108px;
  left: 872.01px;
  top: 284.64px;
  
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 90px;
  line-height: 108px;
  /* identical to box height */
  
  text-align: center;
  text-transform: uppercase;
  
  color: #FFFFFF;
  
  
}
.sale{
 
position: absolute;
width: 136px;
height: 69px;
left: 985.85px;
top: 373.64px;

font-family: 'Mr Dafoe';
font-style: normal;
font-weight: 400;
font-size: 82px;
line-height: 84.4%;
/* or 69px */

text-align: center;

color: #E85757;

transform: rotate(-8.99deg);

}
.percent{
  
position: absolute;
width: 223px;
height: 162px;
left: 910.32px;
top: 434.32px;

font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 135px;
line-height: 162px;
/* identical to box height */

text-align: center;
text-transform: uppercase;

color: #FFFFFF;

text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.09);
}
.percent2{
  
  position: absolute;
  width: 223px;
  height: 100px;
  left: 1030.32px;
  top: 460.32px;
  
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 162px;
  /* identical to box height */
  
  text-align: center;
  text-transform: uppercase;
  
  color: #FFFFFF;
  
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.09);
  }
.off{
  position: absolute;
  width: 46px;
  height: 48px;
  left: 1186.32px;
  top: 530.82px;
  
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  /* identical to box height */
  
  text-align: center;
  text-transform: uppercase;
  
  color: #FFFFFF;
  
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.09);
}
.upto{
  position: absolute;
width: 88px;
height: 38px;
left: 857.01px;
top: 501.82px;

font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 38px;
text-align: center;
text-transform: uppercase;

color: #FFFFFF;

text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.09);
}
.shopnow{
  position: absolute;
width: 190.63px;
height: 54px;
left: 964px;
top: 638px;

background: #FFFFFF;
border-radius: 10px;
}
.shopnow2{
  position: absolute;
width: 190.63px;

text-align: center;

background: #000000;
color:#FFFFFF;
border-radius: 10px;
}
.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .div1 { grid-area: 1 / 1 / 3 / 2; }
  .div2 { grid-area: 1 / 2 / 2 / 3; }
  .div3 { grid-area: 2 / 2 / 3 / 3; }